#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_build:
	dh_auto_build -- PREFIX=/usr CPPFLAGS="$$(dpkg-buildflags --get CPPFLAGS) -D_POSIX_C_SOURCE=200809L -D_DEFAULT_SOURCE -Iinclude" CFLAGS="$$(dpkg-buildflags --get CFLAGS)" LDFLAGS="$$(dpkg-buildflags --get LDFLAGS)"

override_dh_auto_test:
	$(MAKE) unit

override_dh_auto_install:
	dh_auto_install -- PREFIX=/usr DESTDIR=$(CURDIR)/debian/wirecat
